body, table,
h1, h2, h3, h4,
p, form,
fieldset, legend,
ol, ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font: inherit; }

td {
  font-size: 1em;
  vertical-align: top; }

img {
  vertical-align: middle; }

a {
  cursor: pointer;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a img {
  border: 0; }

input, select, textarea, button {
  font: inherit; }

input[type="password"],
input[type="text"] {
  margin: 0; }

ul {
  list-style-type: none; }

table {
  border: 0;
  border-collapse: collapse; }

table td {
  padding: 0; }

html {
  font: 10px Tahoma,Arial,sans-serif; }

.Layout-content {
  width: 960px;
  margin: 0 auto; }

.Recipe {
  position: relative;
  margin: 25px;
  background-size: cover;
  height: 300px;
  border-radius: 4px; }
  .Recipe-title {
    color: #fff;
    padding: 15px 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75), 0 0 2px rgba(0, 0, 0, 0.5); }
  .Recipe-name {
    font-size: 40px;
    letter-spacing: 0.75px; }
  .Recipe-headline {
    display: block;
    font-size: 19px; }
  .Recipe-favorites {
    position: absolute;
    right: 15px;
    top: 20px;
    font-size: 40px;
    color: #FF0; }
    .Recipe-favorites:hover {
      text-decoration: none; }
