.RecipeList
{
  @media (min-width: 600px) {
    padding: 0 25px;
  }
}

.Recipe
{
  position: relative;
  margin: 25px 0;
  background-size: cover;
  min-height: 250px;
  border-radius: 4px;

  &-title {
    color: #fff;
    padding: 15px 20px;
    margin-right: 100px;
    text-shadow:
      0 0 10px rgba(0,0,0, 0.75),
      0 0 2px  rgba(0,0,0, 0.5)
    ;
  }
  &-name {
    font-size: 40px;
    letter-spacing: 0.75px;
  }
  &-headline {
    display: block;
    font-size: 19px;
  }

  &-favorites {
    position: absolute;
    right: 15px;
    top: 20px;
  }

  &-ingredientList {
    padding: 15px 20px;
    font-size: 15px; font-weight: bold; line-height: 1.5em;
    color: #222;
    letter-spacing: 0.5px;
    text-shadow:
      -1px -1px 0   #fff,
      -1px  1px 1px #fff,
       1px -1px 1px #fff,
       1px  1px 0   #fff;
  }

  &-ingredient {
    &:before { content: '• ' }
  }
}
