@import 'reset';

.Layout
{
  &-content {
    width: 960px; // 2 * 3 * 5 * 32
    margin: 0 auto;
  }
}

.Recipe
{
  margin: 25px;
  background-size: cover;
  height: 300px;
  border-radius: 4px;

  &-title {
    color: #fff;
    padding: 15px 20px;
    text-shadow:
      0 0 10px rgba(0,0,0, 0.75),
      0 0 2px  rgba(0,0,0, 0.5)
    ;
  }
  &-name {
    font-size: 40px;
    letter-spacing: 0.75px;
  }
  &-headline {
    display: block;
    font-size: 19px;
  }

  
}