@import './reset';

@import './layout';

.Recipe
{
  position: relative;
  margin: 25px;
  background-size: cover;
  height: 300px;
  border-radius: 4px;

  &-title {
    color: #fff;
    padding: 15px 20px;
    margin-right: 100px;
    text-shadow:
      0 0 10px rgba(0,0,0, 0.75),
      0 0 2px  rgba(0,0,0, 0.5)
    ;
  }
  &-name {
    font-size: 40px;
    letter-spacing: 0.75px;
  }
  &-headline {
    display: block;
    font-size: 19px;
  }

  &-favorites {
    position: absolute;
    right: 15px;
    top: 20px;
    font-size: 40px;
    color: #FF0;

    &:hover { text-decoration: none; }
  }
}